<table>
  <caption>
    All files Available
  </caption>
  <tr>
    <th>Name</th>
    <th>Size (kb)</th>
    <th>Upload Time</th>
    <th>Folder</th>
    <th>Download</th>
    <th>Delete</th>
  </tr>
  <% for( let i = 0; i < files.length; i++ ) { %>
  <tr>
    <td><%= files[i].original_name %></td>
    <td><%= files[i].size/1000 %></td>
    <td><%= files[i].upload_time %></td>
    <td>
      <%= files[i].folders.title %>
      <a href="/changeFolder/<%= files[i].id %>">
        <button class="changeBtn">Change</button></a
      >
    </td>
    <td>
      <form action="/downloadFile/<%= files[i].id %>" method="get">
        <button type="submit" class="downloadBtn">Download</button>
      </form>
    </td>
    <td>
      <form action="/deleteFile/<%= files[i].id %>" method="post">
        <button type="submit" class="deleteBtn">Delete</button>
      </form>
    </td>
  </tr>
  <% } %>
</table>
