<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head',{styles})%>
  <body>
    <a href="/">HomePage</a>
    <form action="/<%= action %>" method="POST">
      <h2><%= heading %><h2>
      <label for="title">Title: </label>
      <input id="title" name="title" type="title" value="<%= title %>" />
      <button type="submit"><%= submitState %></button>
    </form>
    <% if (locals.errors) {%> <%- include('partials/errors',{errors}) %> <% } %>
  </body>
</html>
