<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head',{styles})%>
  <body>
    <a href="/">HomePage</a>
    <form action="/sign-up" method="POST">
      <h2>Sign-Up</h2>
      <label for="username">Email: </label>
      <input
        id="username"
        name="username"
        placeholder="kakarot@gmail.com"
        type="email"
        value="<%= username %>"
      />
      <label for="password">Password: </label>
      <input
        id="password"
        name="password"
        type="password"
        value="<%= password %>"
      />
      <label for="confirmPassword">Confirm Password: </label>
      <input
        id="confirmPassword"
        name="confirmPassword"
        type="password"
        value="<%= confirmPassword %>"
      />
      <button type="submit">Sign Up</button>
    </form>
    <% if (locals.errors) {%> <%- include('partials/errors',{errors}) %> <% } %>
  </body>
</html>
